<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rainfalls.Rtu.Single.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="rainfalls.Signle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <rainfalls.Rtu.Single.Properties.Settings>
            <setting name="rainfalls_Signle_rainfallsWebServer_rainfalls"
                serializeAs="String">
                <value>http://www.zzdawei.cn/webservice/rainfalls.asmx</value>
            </setting>
        </rainfalls.Rtu.Single.Properties.Settings>
        <rainfalls.Signle.Properties.Settings>
            <setting name="rainfalls_Signle_rainfallsWebServer_rainfalls" serializeAs="String">
                <value>http://106.3.45.120/webservice/rainfalls.asmx</value>
            </setting>
        </rainfalls.Signle.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
